<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-license-container mx-auto my-0">
                    <form class="card needs-validation" action="@{/login}" method="post">
                        <div class="card-body p-6">
                            <div class="card-title text-center">
                                <i class="fe fe-check-circle text-success" style="font-size: 1.6em;"></i>
                                <p>Step 1 of 3</p>
                                <h1>Choose your license</h1>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fe fe-check text-success mr-2"></i>
                                    No commitments, cancel anytime.
                                </li>
                                <li class="list-group-item">
                                    <i class="fe fe-check text-success mr-2"></i>
                                    Everything on Netflix for one low price.
                                </li>
                                <li class="list-group-item">
                                    <i class="fe fe-check text-success mr-2"></i>
                                    Unlimited viewing on all your devices.
                                </li>
                            </ul>

                            <div class="form-footer">
                                <button type="submit" style="font-size: 1.1em;"
                                        class="btn btn-dark btn-block text-uppercase font-weight-light">
                                    See the plans
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

